<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CalcpaceApplication"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calcpace">

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Calcpace.Starting"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- calcpace.app links open in the app, as they did in the TWA.
                 Verified by /.well-known/assetlinks.json on the site. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="calcpace.app" />
            </intent-filter>

            <!-- Where the site hands a finished Google/Strava sign-in back
                 from the browser tab. See AppAuth. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="calcpace" android:host="auth" />
            </intent-filter>
        </activity>
    </application>
</manifest>
